html {
    width: 350px;
    height: 400px;
}

body {
    background-color: light grey !important;
}

#game {
    display: none;
}

#error {
    display: none;
}

#waitingForOpponent {
    display: none;
}

#resultScreen {
    display: none;
}

#lobby {
    display: none;
}

#lobbySelect {
    display: none;
    padding-left: 40px;
    padding-right: 40px;
}

#createbtnDiv {
    padding-top: 10px;
}

#admin {
    position: absolute;
    bottom: 0px;
}

#gameScreen p {
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: large;
    font-weight: bold;
}

.awaitingResponse {
    text-align: center;
    padding: 30px;
}

.awaitingResponse img {
    width: 50px;
    height: 50px;
    padding: 0;
}

.awaitingResponse p {
    padding: 0;
    border: 0;
    margin: 0;
    color: #5fb3ed
}

#gameSelectTitle {
    text-align: center;
    padding-top: 10px;
}

#stick,
#twist {
    width: 45%
}

#twist {
    align-self: right;
}

.gameButtons {
    margin: 10%;
    align-items: center;
}